<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="10212" android:versionName="@version@" package="ch.ims.cufa.mobile.android">
    <uses-sdk android:minSdkVersion="17"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.CAMERA"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-feature android:name="android.hardware.camera" android:required="true"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="true"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application android:hardwareAccelerated="true" android:icon="@drawable/icon" android:label="@string/app_name" android:name="ch.ims.cufa.mobile.android.CufaMobileApplication" android:theme="@style/Theme.CUFA">

        <activity android:label="@string/app_name" android:name=".activity.dailyprogram.DailyProgramActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:label="@string/app_name" android:name=".activity.inspection.InspectionActivity" android:windowSoftInputMode="adjustResize|stateAlwaysHidden"/>

        <activity android:label="@string/app_name" android:name=".activity.inspection.Form1320Activity" android:screenOrientation="landscape"/>

        <activity android:label="@string/app_name" android:name=".activity.inspection.Form1320BActivity" android:screenOrientation="landscape"/>

        <activity android:label="@string/app_name" android:name=".activity.inspection.ObligationFormActivity"/>
        
        <activity android:label="@string/app_name" android:name=".activity.search.SearchActivity"/>

        <activity android:label="@string/app_name" android:name=".activity.schedule.ScheduleActivity"/>

        <activity android:label="@string/app_name" android:name=".activity.PreferenceActivity"/>

        <activity android:label="@string/app_name" android:name=".activity.SignatureActivity" android:screenOrientation="sensorLandscape" android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity android:label="@string/app_name" android:name=".activity.targa.TargaActivity"/>

        <service android:exported="false" android:name=".service.BackgroundServiceImpl"/>

    </application>
</manifest>